open_clip_torch==2.24.0
einops
einops-exts
transformers==4.41.1
pillow
datasets
--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.2.1 
torchvision==0.17.1 
torchaudio==2.2.1 
numpy==1.26.4
psutil
